﻿@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@*@model TheRealCoffeeShop.Web.Models.IndexModel*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <form method="post" action="Home/OrderCoffee">
        <input type="submit">
    </form>
</div>
